:root {
  --r-heading-text-transform: none;
}

.slides {
  h2 {
    color: #a0b7bd;
  }

  .subtitle {
    font-size: larger;
  }

  .section-title {
    color: white;
  }

  .inline {
    display: inline-block;
  }
}
